
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev{
    left: 0% !important;
    z-index: 1;
} 

.slick-next{
    right: 0% !important;
    z-index: 1;
}





.page_img{
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 16px) / 2)) ;
    justify-content: left;
    gap: 16px;
}
@media (min-width: 1024px){
    .page_img{
        grid-template-columns: repeat(4, calc((100% - 96px) / 4)) ;
        gap: 32px;
    }

}
